body {
    font-family: 'Segoe UI', Tahoma, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Verdana, sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #000000;
    background-image: url(./pictures/1344805.png);
}
header {
    text-align: center;
    padding: 20px 0;
    background-color: #5e856d;
    border-radius: 8px;
    margin-bottom: 30px;
}
h1 {
    color: #060606;
}
h2 {
    color: #000000;
    border-bottom: 2px solid #bfe859;
    padding-bottom: 10px;
}
.indice {
    background-color: #b39b9ba8;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}
.indice h2 {
    color: #2c3e50;
    border-bottom: none;
}
.tema {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #6e947db3;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.tema img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
}
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #76c3c33d;
    border-radius: 8px;
}
a {
    color: #211994;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}